#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}


.start__button {
    padding: 1rem;
    background: linear-gradient(to right, lightpink, white);
    border-radius: 10px;
    color: #d11480;
    font-weight: bolder;
    font-size: 1.2rem;
}

.word__container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 3rem;
}

.hidden__letter:not(:last-child) {
    margin-right: 1.4rem;
}

.buttons__container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.buttons__container .letter__button {
    display: block;
    border: 3px dashed lightblue;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    color: #d11480;
    background-color: white;
    transition: background-color 500ms;
}

.buttons__container .letter__button:hover{
    background-color: lightblue;
}

.letter__button.letter__button__incorrect{
    background-color: red;
}
.letter__button.letter__button__correct{
    background-color: lightgreen;
}
